<div class="modal-header">
  <span class="modal-title">{{modalHeader}}</span>
  <button type="button" class="close" aria-label="Close" (click)="$addProduct_closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-6">
      <input type="text" nbInput fullWidth shape="rectangle" placeholder="Nhập tên sản phẩm">
    </div>
    <div class="col-md-6">
      <nb-select selected="1">
        <nb-option value="1">Option 1</nb-option>
        <nb-option value="2">Option 2</nb-option>
      </nb-select>
    </div>
  </div>

</div>